.profile__add-button {
  background-image: url(../../../images/Add-Button-desc.svg);
  background-repeat: no-repeat;
  width: 150px;
  height: 50px;
  background-color: black;
  background-position: center;
  border: 2px solid white;
  margin-left: auto;
  padding: 0;
  cursor: pointer;
  border-radius: 2px;
}

.profile__add-button:hover {
  opacity: 0.6;
  transition: 0.5s;
}

@media screen and (max-width: 767px) {
  .profile__add-button {
    background-image: url(../../../images/Add-Button.svg);
    width: 282px;
    height: 50px;
    margin: 0 19px;
  }
}
